In [1]:
import pandas as pd
df = pd.read_csv("tmdb.movies.csv")

In [2]:
type(df)

pandas.core.frame.DataFrame

In [3]:
df.columns

Index(['Unnamed: 0', 'genre_ids', 'id', 'original_language', 'original_title',
       'popularity', 'release_date', 'title', 'vote_average', 'vote_count'],
      dtype='object')

In [4]:
df.head()

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

In [5]:
df.shape

(26517, 10)

In [6]:
df.isnull().sum()

Unnamed: 0           0
genre_ids            0
id                   0
original_language    0
original_title       0
popularity           0
release_date         0
title                0
vote_average         0
vote_count           0
dtype: int64

In [7]:
df['original_language'] != 'en'

0        False
1        False
2        False
3        False
4        False
         ...
26512    False
26513    False
26514    False
26515    False
26516    False
Name: original_language, Length: 26517, dtype: bool

In [8]:
df['original_language'].unique()

array(['en', 'nl', 'es', 'ja', 'sv', 'de', 'fr', 'cn', 'it', 'ru', 'zh',
       'hi', 'no', 'ko', 'da', 'fi', 'pl', 'te', 'hu', 'tr', 'pt', 'he',
       'fa', 'th', 'cs', 'et', 'tl', 'lt', 'xx', 'bs', 'ar', 'is', 'el',
       'mr', 'hr', 'ro', 'sr', 'uk', 'nb', 'hz', 'ca', 'bg', 'sl', 'lv',
       'si', 'ab', 'ta', 'bo', 'id', 'sq', 'bn', 'gu', 'lo', 'ne', 'kk',
       'hy', 'ps', 'kn', 'vi', 'ku', 'ka', 'ml', 'ur', 'mi', 'eu', 'sn',
       'cy', 'ha', 'ky', 'yi', 'pa', 'xh', 'cr', 'sw', 'af', 'dz'],
      dtype=object)

In [9]:
df_filtered = df[df['original_language'] == 'en']

In [10]:
df_filtered['original_language'].nunique()

1

In [11]:
df_filtered.shape

(23291, 10)

In [12]:
df.shape

(26517, 10)

In [13]:
del df_filtered['Unnamed: 0']

In [14]:
df_filtered['genre_ids'][0][0]

'['

In [15]:
df_filtered['genre_ids'].to_list(), df.columns=["genre_id1","genre_id1","genre_id3"]
# df2 = df_filtered.genre_ids.apply(pd.Series)
# df2.columns = ["genre_id1","genre_id1","genre_id3"]

SyntaxError: can't assign to function call (<ipython-input-15-2d8cbdf0ae99>, line 1)

In [1]:
df_filtered

NameError: name 'df_filtered' is not defined