In [ ]:
#Imported pandas and created a variable that reads the csv file and turns it into a dataframe

In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('imdb.title.basics.csv')
df

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"
...,...,...,...,...,...,...
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama
146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy
146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,NaN
146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary

In [3]:
#I looked at what columns were available in the dataframe

In [2]:
df.columns

Index(['tconst', 'primary_title', 'original_title', 'start_year',
       'runtime_minutes', 'genres'],
      dtype='object')

In [5]:
#I know that I will not need the columns 'original_title' and 'runtime_minutes' for my analysis so I dropped those 
#columns and created a variable called 'df_columns_dropped'for the new dataframe I will be working with

In [6]:
df_columns_dropped = df.drop(['runtime_minutes', 'original_title'], axis = 1)

In [7]:
df_columns_dropped

,tconst,primary_title,start_year,genres
0,tt0063540,Sunghursh,2013,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,2019,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,2018,Drama
3,tt0069204,Sabse Bada Sukh,2018,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,2017,"Comedy,Drama,Fantasy"
...,...,...,...,...
146139,tt9916538,Kuambil Lagi Hatiku,2019,Drama
146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,Documentary
146141,tt9916706,Dankyavar Danka,2013,Comedy
146142,tt9916730,6 Gunn,2017,NaN
146143,tt9916754,Chico Albuquerque - Revelações,2013,Documentary

In [8]:
#I then wanted to find which columns had any 'Nan' values and found that 'genres' has 5408 'nan' values. 
#For now I want to keep those values there as I continue to clean my data

In [9]:
df_columns_dropped.isna().sum()

tconst              0
primary_title       0
start_year          0
genres           5408
dtype: int64

In [10]:
#I want to make sure that I am using the most recent data so I want to display movies that had a year of 2015-2020

In [19]:
imdbmovies_20102020 = df_columns_dropped.loc[df_columns_dropped['start_year'] >= 2010]

In [20]:
imdbmovies_20102020

,tconst,primary_title,start_year,genres
0,tt0063540,Sunghursh,2013,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,2019,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,2018,Drama
3,tt0069204,Sabse Bada Sukh,2018,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,2017,"Comedy,Drama,Fantasy"
...,...,...,...,...
146139,tt9916538,Kuambil Lagi Hatiku,2019,Drama
146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,Documentary
146141,tt9916706,Dankyavar Danka,2013,Comedy
146142,tt9916730,6 Gunn,2017,NaN
146143,tt9916754,Chico Albuquerque - Revelações,2013,Documentary

In [21]:
imdbmovies_20102020.shape

(146144, 4)

In [1]:
df_columns_dropped['genres'].fillna(df_columns_dropped['genres'])

NameError: name 'df_columns_dropped' is not defined