In [19]:
import pandas as pd
import numpy as np
import json
import matplotlib.pyplot as plt

In [18]:
df = pd.read_csv("combined_movie_data.csv")

In [11]:
df['movie_year'] = df.release_date_x.str[:4]
df.head()

,Unnamed: 0,titleId,start_year,genres,ordering,title,region,genre_ids,id_x,popularity,release_date_x,vote_average,vote_count,id_y,release_date_y,production_budget,domestic_gross,worldwide_gross,movie_year
0,0,tt0069049,2018.0,Drama,3.0,The Other Side of the Wind,US,"[35, 18]",299782,9.800,2018-11-02,7.0,64,NaN,NaN,NaN,NaN,NaN,2018
1,1,tt0112502,2017.0,"Horror,Thriller",3.0,Bigfoot,US,"[27, 878, 12]",117856,2.813,2012-06-30,2.9,26,NaN,NaN,NaN,NaN,NaN,2012
2,2,tt4503112,2018.0,"Action,Horror",3.0,Bigfoot,US,"[27, 878, 12]",117856,2.813,2012-06-30,2.9,26,NaN,NaN,NaN,NaN,NaN,2012
3,3,tt9181914,2018.0,"Animation,Family",5.0,Bigfoot,US,"[27, 878, 12]",117856,2.813,2012-06-30,2.9,26,NaN,NaN,NaN,NaN,NaN,2012
4,4,tt0192528,2018.0,Drama,1.0,Heaven & Hell,US,[18],567662,0.600,2018-11-06,7.5,2,NaN,NaN,NaN,NaN,NaN,2018

In [12]:
df1 = df.drop(['Unnamed: 0', 'start_year','titleId','ordering'], axis=1, inplace=False)

In [13]:
df1.head()

,genres,title,region,genre_ids,id_x,popularity,release_date_x,vote_average,vote_count,id_y,release_date_y,production_budget,domestic_gross,worldwide_gross,movie_year
0,Drama,The Other Side of the Wind,US,"[35, 18]",299782,9.800,2018-11-02,7.0,64,NaN,NaN,NaN,NaN,NaN,2018
1,"Horror,Thriller",Bigfoot,US,"[27, 878, 12]",117856,2.813,2012-06-30,2.9,26,NaN,NaN,NaN,NaN,NaN,2012
2,"Action,Horror",Bigfoot,US,"[27, 878, 12]",117856,2.813,2012-06-30,2.9,26,NaN,NaN,NaN,NaN,NaN,2012
3,"Animation,Family",Bigfoot,US,"[27, 878, 12]",117856,2.813,2012-06-30,2.9,26,NaN,NaN,NaN,NaN,NaN,2012
4,Drama,Heaven & Hell,US,[18],567662,0.600,2018-11-06,7.5,2,NaN,NaN,NaN,NaN,NaN,2018

In [14]:
df.isnull().sum()

Unnamed: 0               0
titleId              10235
start_year           10235
genres                   0
ordering             10235
title                    0
region               10235
genre_ids                0
id_x                     0
popularity               0
release_date_x           0
vote_average             0
vote_count               0
id_y                 23295
release_date_y       23295
production_budget    23295
domestic_gross       23295
worldwide_gross      23295
movie_year               0
dtype: int64

In [16]:
df.shape

(26550, 19)