In [49]:
cd CSV\ files

[Errno 2] No such file or directory: 'CSV files'
/Users/aratliff/Documents/Flatiron/Phase_1/Microsoft_Movie_Project/CSV files

In [50]:
import pandas as pd
import numpy as np
import json
import matplotlib.pyplot as plt

In [51]:
df = pd.read_csv("combined_movie_data.csv")

In [66]:
df['movie_year'] = df.release_date_x.str[:4]
df.head()

,Unnamed: 0,titleId,start_year,genres,ordering,title,region,genre_ids,id_x,popularity,release_date_x,vote_average,vote_count,id_y,release_date_y,production_budget,domestic_gross,worldwide_gross,movie_year
0,0,tt0069049,2018.0,Drama,3.0,The Other Side of the Wind,US,"[35, 18]",299782,9.800,2018-11-02,7.0,64,NaN,NaN,NaN,NaN,NaN,2018
1,1,tt0112502,2017.0,"Horror,Thriller",3.0,Bigfoot,US,"[27, 878, 12]",117856,2.813,2012-06-30,2.9,26,NaN,NaN,NaN,NaN,NaN,2012
2,2,tt4503112,2018.0,"Action,Horror",3.0,Bigfoot,US,"[27, 878, 12]",117856,2.813,2012-06-30,2.9,26,NaN,NaN,NaN,NaN,NaN,2012
3,3,tt9181914,2018.0,"Animation,Family",5.0,Bigfoot,US,"[27, 878, 12]",117856,2.813,2012-06-30,2.9,26,NaN,NaN,NaN,NaN,NaN,2012
4,4,tt0192528,2018.0,Drama,1.0,Heaven & Hell,US,[18],567662,0.600,2018-11-06,7.5,2,NaN,NaN,NaN,NaN,NaN,2018

In [65]:
df.drop(df.loc[df['domestic_gross']=='$0'].index, inplace=True)

In [67]:
df1 = df.drop(['Unnamed: 0', 'start_year','titleId','worldwide_gross','genre_ids', 'id_x', 'worldwide_gross','id_y','ordering'], axis=1, inplace=False)

In [68]:
df1.head()

,genres,title,region,popularity,release_date_x,vote_average,vote_count,release_date_y,production_budget,domestic_gross,movie_year
0,Drama,The Other Side of the Wind,US,9.800,2018-11-02,7.0,64,NaN,NaN,NaN,2018
1,"Horror,Thriller",Bigfoot,US,2.813,2012-06-30,2.9,26,NaN,NaN,NaN,2012
2,"Action,Horror",Bigfoot,US,2.813,2012-06-30,2.9,26,NaN,NaN,NaN,2012
3,"Animation,Family",Bigfoot,US,2.813,2012-06-30,2.9,26,NaN,NaN,NaN,2012
4,Drama,Heaven & Hell,US,0.600,2018-11-06,7.5,2,NaN,NaN,NaN,2018

In [69]:
df1.isnull().sum()

genres                   0
title                    0
region               10202
popularity               0
release_date_x           0
vote_average             0
vote_count               0
release_date_y       23295
production_budget    23295
domestic_gross       23295
movie_year               0
dtype: int64

In [98]:
df2 = df1.dropna(axis = 0, subset = ['release_date_y', 'production_budget', 'domestic_gross'], inplace = False)
df2

,genres,title,region,popularity,release_date_x,vote_average,vote_count,release_date_y,production_budget,domestic_gross,movie_year
22,no genre,The Overnight,US,6.576,2015-06-19,6.0,200,"Jun 19, 2015","$200,000","$1,109,808",2015
23,"Comedy,Mystery",The Overnight,US,6.576,2015-06-19,6.0,200,"Jun 19, 2015","$200,000","$1,109,808",2015
26,"Adventure,Drama,Romance",On the Road,US,8.919,2012-12-21,5.6,518,"Mar 22, 2013","$25,000,000","$720,828",2012
27,Horror,Whiplash,US,6.298,2013-01-18,7.9,94,"Oct 10, 2014","$3,300,000","$13,092,006",2013
28,"Drama,Music",Whiplash,US,6.298,2013-01-18,7.9,94,"Oct 10, 2014","$3,300,000","$13,092,006",2013
...,...,...,...,...,...,...,...,...,...,...,...
26098,no genre,Man on Fire,NaN,1.790,2018-01-24,8.0,1,"Apr 23, 2004","$60,000,000","$77,906,816",2018
26200,no genre,Spawn,NaN,1.400,2018-04-13,10.0,1,"Jul 31, 1997","$40,000,000","$54,979,992",2018
26317,no genre,Enough,NaN,0.719,2018-03-22,8.7,3,"May 24, 2002","$38,000,000","$39,177,215",2018
26457,no genre,Undiscovered,NaN,0.600,2018-04-07,8.0,1,"Aug 26, 2005","$9,000,000","$1,069,318",2018
26546,no genre,Jaws,NaN,0.600,2018-05-29,0.0,1,"Jun 20, 1975","$12,000,000","$260,000,000",2018

In [99]:
df2.shape

(2793, 11)

In [100]:
df2.isnull().sum()

genres                 0
title                  0
region               168
popularity             0
release_date_x         0
vote_average           0
vote_count             0
release_date_y         0
production_budget      0
domestic_gross         0
movie_year             0
dtype: int64

In [101]:
df2.dtypes

genres                object
title                 object
region                object
popularity           float64
release_date_x        object
vote_average         float64
vote_count             int64
release_date_y        object
production_budget     object
domestic_gross        object
movie_year            object
dtype: object

In [103]:
df2.loc['domestic_gross'] = pd.to_numeric(df2.loc['domestic_gross'],errors='coerce')
#df2.loc[:,'domestic_gross'] = pd.to_numeric(df2.loc['domestic_gross'],errors='coerce')

KeyError: 'domestic_gross'

In [105]:
df2.dtypes

genres                object
title                 object
region                object
popularity           float64
release_date_x        object
vote_average         float64
vote_count             int64
release_date_y        object
production_budget     object
domestic_gross        object
movie_year            object
dtype: object

,genres,title,region,popularity,release_date_x,vote_average,vote_count,release_date_y,production_budget,domestic_gross,movie_year
22,no genre,The Overnight,US,6.576,2015-06-19,6.0,200.0,"Jun 19, 2015","$200,000",NaN,2015
23,"Comedy,Mystery",The Overnight,US,6.576,2015-06-19,6.0,200.0,"Jun 19, 2015","$200,000",NaN,2015
26,"Adventure,Drama,Romance",On the Road,US,8.919,2012-12-21,5.6,518.0,"Mar 22, 2013","$25,000,000",NaN,2012
27,Horror,Whiplash,US,6.298,2013-01-18,7.9,94.0,"Oct 10, 2014","$3,300,000",NaN,2013
28,"Drama,Music",Whiplash,US,6.298,2013-01-18,7.9,94.0,"Oct 10, 2014","$3,300,000",NaN,2013
...,...,...,...,...,...,...,...,...,...,...,...
26200,no genre,Spawn,NaN,1.400,2018-04-13,10.0,1.0,"Jul 31, 1997","$40,000,000",NaN,2018
26317,no genre,Enough,NaN,0.719,2018-03-22,8.7,3.0,"May 24, 2002","$38,000,000",NaN,2018
26457,no genre,Undiscovered,NaN,0.600,2018-04-07,8.0,1.0,"Aug 26, 2005","$9,000,000",NaN,2018
26546,no genre,Jaws,NaN,0.600,2018-05-29,0.0,1.0,"Jun 20, 1975","$12,000,000",NaN,2018
domestic_gross,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
df1['domestic_gross'] = df1.domestic_gross.convert_objects(convert_numeric = True)
int df1['domestic_gross'] = Integer.valueOf((String) object);

SyntaxError: invalid syntax (<ipython-input-43-c6cb229caf84>, line 2)

In [44]:
df1.shape

(26550, 11)