In [3]:
cd CSV\ files

/Users/sandrawelbeck/Desktop/Phase_1_Project_Folder/Microsoft_Movie_Project/Microsoft_Movie_Project/CSV files

In [4]:
import pandas as pd
import numpy as np
import json
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv("combined_movie_data.csv")

In [6]:
df['movie_year'] = df.release_date_x.str[:4]
df.head()

,Unnamed: 0,titleId,start_year,genres,ordering,title,region,genre_ids,id_x,popularity,release_date_x,vote_average,vote_count,id_y,release_date_y,production_budget,domestic_gross,worldwide_gross,movie_year
0,0,tt0069049,2018.0,Drama,3.0,The Other Side of the Wind,US,"[35, 18]",299782,9.800,2018-11-02,7.0,64,NaN,NaN,NaN,NaN,NaN,2018
1,1,tt0112502,2017.0,"Horror,Thriller",3.0,Bigfoot,US,"[27, 878, 12]",117856,2.813,2012-06-30,2.9,26,NaN,NaN,NaN,NaN,NaN,2012
2,2,tt4503112,2018.0,"Action,Horror",3.0,Bigfoot,US,"[27, 878, 12]",117856,2.813,2012-06-30,2.9,26,NaN,NaN,NaN,NaN,NaN,2012
3,3,tt9181914,2018.0,"Animation,Family",5.0,Bigfoot,US,"[27, 878, 12]",117856,2.813,2012-06-30,2.9,26,NaN,NaN,NaN,NaN,NaN,2012
4,4,tt0192528,2018.0,Drama,1.0,Heaven & Hell,US,[18],567662,0.600,2018-11-06,7.5,2,NaN,NaN,NaN,NaN,NaN,2018

In [7]:
df1 = df.drop(['Unnamed: 0', 'start_year','titleId','ordering'], axis=1, inplace=False)

In [8]:
df1.head()

,genres,title,region,genre_ids,id_x,popularity,release_date_x,vote_average,vote_count,id_y,release_date_y,production_budget,domestic_gross,worldwide_gross,movie_year
0,Drama,The Other Side of the Wind,US,"[35, 18]",299782,9.800,2018-11-02,7.0,64,NaN,NaN,NaN,NaN,NaN,2018
1,"Horror,Thriller",Bigfoot,US,"[27, 878, 12]",117856,2.813,2012-06-30,2.9,26,NaN,NaN,NaN,NaN,NaN,2012
2,"Action,Horror",Bigfoot,US,"[27, 878, 12]",117856,2.813,2012-06-30,2.9,26,NaN,NaN,NaN,NaN,NaN,2012
3,"Animation,Family",Bigfoot,US,"[27, 878, 12]",117856,2.813,2012-06-30,2.9,26,NaN,NaN,NaN,NaN,NaN,2012
4,Drama,Heaven & Hell,US,[18],567662,0.600,2018-11-06,7.5,2,NaN,NaN,NaN,NaN,NaN,2018

In [9]:
df['production_budget']

0                NaN
1                NaN
2                NaN
3                NaN
4                NaN
            ...
26545            NaN
26546    $12,000,000
26547            NaN
26548            NaN
26549            NaN
Name: production_budget, Length: 26550, dtype: object

In [16]:
df.shape

(26550, 19)